[Unit]
Description=Hello World from Podman

[Container]
Image=quay.io/podman/hello:latest
Exec=/usr/local/bin/podman_hello_world

[Service]
Restart=no
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target